
.header__container{
  display: flex;
  gap: 1rem;
  align-items: center;
  overflow: hidden;
  transition: height 0.3s ease;
}

.header__cover {
  border-radius: 10%; /* Roundish corners */
  width: 10vw; /* Width as a percentage of the viewport width */
  height: 10vw; /* Height equal to the width to maintain a square */
  min-width: 6rem;
  min-height: 6rem;
}

.header__title {
  color: var(--gray-100);
  font-size: 4vw;
  margin: 0;
  margin-top: 1.3rem;
  pointer-events: none;
}

@media screen and (max-width: 900px) {

	.header__title{

		font-size: 2rem;
	}

}

.header__meta-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .3rem;
  font-size: .8rem;
  color: var(--gray-400);
}

span:not(.header__username){
  pointer-events: none;
}

.header__username:hover{
  text-decoration: underline;
  cursor: pointer;
}

