/* ignore these for now */


.mui-tab {
  width: auto; /* Responsive width */
  border-radius: 10px; /* Rounded corners */
  padding: 2px;
  margin-right: 5px;
  color: var(--tab-color);
  background-color: var(--tab-bg-color);
  text-transform: none;

}

.mui-tab.Mui-selected {
  border-radius: 10px;
  color: var(--selected-tab-color);
  background-color: var(--selected-tab-bg-color);
}

.MuiTabs-scrollButtons{

  color: var(--tab-color);
}

.MuiTabs-indicator {
  display: none; /* Removes the underline */
}
