@import url('../../../assets/styles/colors.css');

.cover-list-container{

   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: flex-start;
   margin: 1rem;
}

.cover-container{

    position: relative;
    display: flex;
    flex-direction: column;
	height: 95%;
	width: 95%;
    margin-top:.5rem;
    max-width: 250px;
}

.cover-container:hover{

    cursor: pointer;
    opacity: 0.8;
}

.cover-image{

    width: auto;
    height: 99%;
	border-top-left-radius: 2%;
	border-top-right-radius: 2%;
}

.cover-progress-bar{ 

    background-color: var(--red-500);
    height:100%;
    background: var(red-500)
}

.cover-progress-bar-container{
	
	width:100%;
    height:1%;
	background-color: var(--gray-400);
}



.auto-sizer{

	width: 100%;
	height: 100%;
}

/* Hover Styling */

/* Display buttons on hover */
.cover-container:hover .hover-center_buttons {

    display: flex;
}

.cover-image:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}


/* Hover Container - Centered */
.hover-center_buttons {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Play Button */

.hover-play-button {
    position: absolute;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    height: 2.4rem;
    width: 2.4rem;
    color: var(--white);
}


.hover-play-button:hover {
    transform: scale(1.1); /* Scale up on hover */
    cursor: pointer;
}

/* Settings Button */
.hover-settings-button {
    height: 1.4rem;
    width: 1.4rem;
    position: absolute;
    color: var(--white);
    top: -2px; /* Adjusted for top alignment */
    right: -2px; /* Adjusted for right alignment */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    
}

.hover-settings-button:hover {
    transform: scale(1.1); /* Scale up on hover */
    cursor: pointer;
}
